body {
    background-image: URL('/img/bandeDessinne.jpg');
    background-size: 1920px 1000px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.menu {
    background-color:#063461d1;
    
}

.menu li {
    color : white;
    display: inline;
    text-decoration: none;
}

h1 {
    color: snow;
}

li a {
    color : white;
    text-decoration: none;
}

